body {
    max-width: 980px;
    margin: auto;
}

/* ========================== Two Colomn Layout========================== */
.columnsContainer{position: relative; margin: 0.5em; }

header {
    position: relative;
    margin: 0.5em;
}

.leftColumn {
    padding: 0.5em 0em 0em 0.5em;
}

.rightColumn {
    padding: 1em 0.5em 0em 0em;
}

p, li {
    margin-bottom: 12px;
}

ul {
    list-style: none;
    list-style-position: outside;
}

.headerContainer {
    border-bottom: 1px solid #f0efee;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}

.headerContainer h3 {
    bottom: 0;
    color: #a7aaaf;
    font-weight: normal;
    font-size: 16px;
    position: absolute;
    right: 5px;
}

h4, span {
    color: #2f6ab3;
    font-weight: bold;
    margin-bottom: -12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ========================== Two Column for Profile ========================== */
.column {
    float: left;
    padding-left: 40px;
}

.left {
    width: 200px;
}

.right {
	width: 300px;
    padding-left: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* ========================== Top Menu Styles ========================== */
#topMenu {
    height: 22px;
    overflow: hidden;
    padding: 23px 20px 0 0;
}

/* ========================== Header Styles ========================== */
#header {
    background: url("images/001.png") repeat top left;
    height: 60px;
    overflow: hidden;
}

#header h2 {
    float: left;
    color: #a7aaaf;
    font-size: 22px;
    font-style:italic;
}

#header h1 a {
    display: block;
    height: 29px;
    width: 124px;
}

#header p {
    float: right;
    color: #a7aaaf;
}

/* ========================== Footer Styles ========================== */
#footer {
    background: url("images/001.png") repeat top left;
    height: 30px;
    overflow: hidden;
}

#footer a {
    float: right;
    color: #a7aaaf;
}

/* ========================== Divisions Styles ========================== */
.divisions li {
	margin-bottom: 35px;
}

/* ========================== Main Navigation Styles ========================== */
#mainNav {
    margin: 0 0 30px 0;
}

#mainNav li {
    margin-bottom: 0;
    text-align: right;
}

#mainNav li a {
    color: #a7aaaf;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
    padding-right: 22px;
    text-transform: uppercase;
    width: 170px;
}

#mainNav li a.active {  
    color: #4472ab;
}

#mainNav li a.last {
    background-image: none;
}

#mainNav li a:hover {
    text-decoration: none;
}


/* ========================== Latest news Box Styles ========================== */
#latenews {
	 background: url("images/001.png") repeat top left;
    /* background-color: #F4F6F7;*/
    margin-left: 10px;
    padding: 7px 20px 7px 15px;
}

#latenews ul {
    padding-left: 10px;
}


#latenewsr h4 {
    color: #2f6ab3;
    font-weight: bold;
    margin-bottom: 20px;
}


/* ========================== Map Box Styles ========================== */
#statmap {
    padding: 50px 0px 30px 10px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

/* MEDIA QUERIES */
@media screen and (min-width: 43.7em ) {
.rightColumn { margin-left: 15em; }
.leftColumn { position: absolute; top: 0; left: 0; width: 14.5em; }   
}
