<div class="news">
    <h3>About</h3>
    <p>
      Dr. Cheng is a <u>Professor</u> in the School of Control and Computer Engineering at <u>NCEPU</u> in Beijing and also a research staff member at the State Key Laboratory of Alternate Electrical Power System with Renewable Energy Sources. He leads <a href="https://energy-pi.com">EPI Lab</a> (Van der Aalst Energy Process Intelligence Laboratory), with current research focusing on <u>Process Intelligence</u>, <u>Smart Energy Systems</u>, and <u>Deep Reinforcement Learning</u>.
    </p>
    
    
    <p>
      Dr. Cheng was an Assistant Professor in the School of Computing at Dublin City University (DCU), and
      a Marie Curie Fellow at University College Dublin (UCD), Ireland. Before joining UCD in 2018, he was a postdoctoral researcher at 
      Eindhoven University of Technology (Netherlands), worked with <a href="https://www.padsweb.rwth-aachen.de/wvdaalst/">Prof. Wil van der Aalst</a> 
      for about two years on process mining techniques for large-scale event logs. He is currently working with Prof. Wil van der Aalst to develop the EPI Lab as an international platform for process intelligence and smart energy systems.
      During 2014 and 2016, he worked as a postdoctoral researcher in the Knowledge-based System Group led by
      <a href="https://iccl.inf.tu-dresden.de/web/Markus_Kr%C3%B6tzsch">Prof. Markus Kr&ouml;tzsch</a>
      at TU Dresden (Germany). 
    </p> 
    
      <p>Dr. Cheng received his PhD from the <a href="https://www.maynoothuniversity.ie/">National University of Ireland Maynooth</a> in 2014, 
        under the supervision of <a href="https://www.computing.dcu.ie/~tward/">Prof. Tomas Ward</a>. 
        He is currently a <u>Fellow of the British Computer Society</u>, a <u>Senior Member of the IEEE</u> and serves as a <u>Chair of the Journal of Cloud Computing</u>.</p>
  </div>
