<div class="news">
    <h3>About</h3>
    <p>I am an Assistant Professor in the School of Computing at Dublin City University (DCU). My research mainly lies in high-performance data analytics, distributed systems, cloud computing and process mining. 
      Specifically, I am interested in <U>performance</U> optimization for <U>parallel and distributed</U> <U>data applications and systems</U>.
    </p>
    
    <p>I was a <a href="https://ec.europa.eu/research/mariecurieactions/actions/individual-fellowships_en">
      Marie Curie Fellow</a> at <a href="http://pel.ucd.ie/index.php/Main_Page">The Performance Engineering Laboratory (PEL)</a> co-directed by <a href="http://www.ucd.ie/research/people/computerscience/professorjohnmurphy/">Prof. John Muphy</a> 
      in University College Dublin (UCD), Ireland. Before joining UCD in 2018, I was a postdoctoral researcher at the <a href="https://www.win.tue.nl/ais/">Architecture of Information Systems Group (AIS)</a> 
      in <a href="https://www.tue.nl/en/">Eindhoven University of Technology</a> (Netherlands), worked with <a href="http://www.padsweb.rwth-aachen.de/wvdaalst/">Prof. Wil van der Aalst</a> 
      for about two years focusing on new process mining techniques that are able to deal with huge event logs.
      During 2014 and 2016, I worked as a postdoctoral researcher in the <a href="https://iccl.inf.tu-dresden.de/web/Wissensbasierte_Systeme/en">Knowledge-based System Group</a> led by
      <a href="https://iccl.inf.tu-dresden.de/web/Markus_Kr%C3%B6tzsch">Prof. Markus Kr&ouml;tzsch</a>
      at <a href="https://tu-dresden.de/">TU Dresden</a> (Germany). 
      I received my PhD degree from <a href="https://www.maynoothuniversity.ie/">National University of Ireland Maynooth</a> under the supervision of 
      <a href="https://www.computing.dcu.ie/~tward/">Prof. Tomas Ward</a> in 2014. 
      During my PhD, I was also a research assistant at <a href="https://www.research.ibm.com/labs/ireland/">IBM Research Dublin</a> under the supervision of 
      <a href="http://www.gtheodoropoulos.com/">Prof. Georgios Theodoropoulos</a> and <a href="http://researcher.watson.ibm.com/researcher/view.php?person=ie-Spyros.Kotoulas">Dr. Spyros Kotoulas</a>.</p> 
    
    <p>Currently, aside from the main focus on 
      advancing <U>network-aware computing systems</U> and <U>cloud resource management</U>, I also have some collaborative projects in data analytics in <U>IoT edge</U>, 
      <U>GPU</U>-based <U>process mining</U>, <U>privacy-preserving computing</U>, <U>in-network computing</U>, and <U>deep learning accelerator</U>.</p>      
  </div>