<div class="news">
    <h3>About</h3>
    <p>Dr. Cheng is a <U>Professor</U> in the School of Control and Computer Engineering at <U>NCEPU</U> in Beijing, where he leads the <U>Distributed Systems Group</U>. 
      His research primarily focuses on <U>distributed computing</U> and <U>deep reinforcement learning</U> (DRL). 
      He is particularly interested in optimizing the performance of distributed systems, including computing, transportation, and energy networks, using DRL, as well as leveraging distributed computing techniques to enhance the efficiency and performance of neural network inference and training.
    </p>
    
    <p>
      Dr. Cheng was an Assistant Professor in the <a href="https://www.computing.dcu.ie/">School of Computing</a> at <a href="https://www.dcu.ie/">Dublin City University</a> (DCU), and
      a <a href="https://ec.europa.eu/research/mariecurieactions/actions/individual-fellowships_en">
      Marie Curie Fellow</a> at <a href="https://pel.ucd.ie/index.php/Main_Page">The Performance Engineering Laboratory (PEL)</a> directed by <a href="https://www.ucd.ie/research/people/computerscience/professorjohnmurphy/">Prof. John Muphy</a> 
      in University College Dublin (UCD), Ireland. Before joining UCD in 2018, he was a postdoctoral researcher at the <a href="https://www.win.tue.nl/ais/">Architecture of Information Systems Group (AIS)</a> 
      in <a href="https://www.tue.nl/en/">Eindhoven University of Technology</a> (Netherlands), worked with <a href="https://www.padsweb.rwth-aachen.de/wvdaalst/">Prof. Wil van der Aalst</a> 
      for about two years focusing on new process mining techniques that are able to deal with huge event logs.
      During 2014 and 2016, he worked as a postdoctoral researcher in the <a href="https://iccl.inf.tu-dresden.de/web/Wissensbasierte_Systeme/en">Knowledge-based System Group</a> led by
      <a href="https://iccl.inf.tu-dresden.de/web/Markus_Kr%C3%B6tzsch">Prof. Markus Kr&ouml;tzsch</a>
      at <a href="https://tu-dresden.de/">TU Dresden</a> (Germany). 
      </p> 
    
      <p>Dr. Cheng received his PhD from the <a href="https://www.maynoothuniversity.ie/">National University of Ireland Maynooth</a> in 2014, 
        under the supervision of <a href="https://www.computing.dcu.ie/~tward/">Prof. Tomas Ward</a>. 
        During his PhD, he also worked as a research assistant at <a href="https://www.research.ibm.com/labs/ireland/">IBM Research Dublin</a>, 
        where he was supervised by <a href="https://www.gtheodoropoulos.com/">Prof. Georgios Theodoropoulos</a> and <a href="https://researcher.watson.ibm.com/researcher/view.php?person=ie-Spyros.Kotoulas">Dr. Spyros Kotoulas</a>. 
        He is currently a <u>Senior Member of the IEEE</u> and serves as a <u>Co-Chair of the Journal of Cloud Computing</u>.</p>
  </div>